body {
  background: url('imagen.jpg');
}

h1 {
  color: #44F;
  text-shadow: 12px 12px 12px #FF38DE;
}

h2 {
  color: #44F;
  text-shadow: 12px 12px 12px #FF38DE;
}

h3{
	color:#fff;
}

a {
  text-shadow: 12px 12px 12px #FF38DE;
  color:green ;
}

ul li {
  color: white;
  text-shadow: 12px 12px 12px #FF38DE;
}

 .lista{	
	list-style-type:none;
  margin-left: 0px;
  padding-left: 0;
  
}


